{% extends 'base.html' %}


{% block content %}
<div id="app">
    <v-app>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col cols="8">
                        <v-form ref="formNumero" v-model="formNumeroValido">
                            <v-text-field type="number" :rules="reglasNumero" label="Ingrese un numero para la serie"
                                v-model="number" hide-details="auto">
                            </v-text-field>
                        </v-form>
                    </v-col>
                    <v-col cols="4">
                        <v-btn depressed color="primary" block class="mt-2" :disabled="!formNumeroValido"
                            @click="agregarNumero()" required>
                            Agregar número
                        </v-btn>
                    </v-col>
                </v-row>

                <br>
                <v-data-table :headers="headers" :items="numeros" :items-per-page="50" class="elevation-1">
                    <template #[`item.opciones`]="{ item }">
                        <v-btn color="red" icon @click="dialogEliminar(item)">
                            <v-icon small>
                                mdi-delete
                            </v-icon>
                        </v-btn>
                    </template>
                </v-data-table>


                <!-- DIALOGO ELIMINAR -->
                <v-dialog :value="dialogConfirmarEliminar" persistent max-width="400">
                    <v-card>
                        <v-card-title>
                            Confirmación requerida
                        </v-card-title>

                        <v-card-text>Por favor confirma que deseas eliminar este registro.</v-card-text>

                        <v-card-actions class="acciones-card">
                            <v-spacer />
                            <v-btn text @click="dialogConfirmarEliminar = false">
                                Cancelar
                            </v-btn>
                            <v-btn color="red" text @click="eliminarRegistro()">
                                Confirmar
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <!-- SNACKBAR -->
                <v-snackbar timeout="3000" v-model="snackBarVisible" fixed bottom :color="snackBarStatus" right>
                    <strong>{ requestMessage }</strong>
                </v-snackbar>

            </v-container>
        </v-main>
    </v-app>
</div>
{% endblock %}